@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

:root {
  --dark-grey: #e8f34d;
  --dark-green: #427a5b;
  --light-green: #b4cd93;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* text-align: center; */
  font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--dark-grey);
}

.svg-container {
  position: relative;
  width: 100%;
  height: auto;
}
